{%extends "base.html"%}

{% block titulo %}Informacion de envio{%  endblock %}

{%block contenido%}

<h1>LISTA DE FACTURAS</h1>
<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th>id</th>
                <th>Fecha</th>
                <th>Precio total</th>
                <th>Nombre(s)</th>
                <th>Apellidos</th>
                <th>Identificacion</th>
                <th>Direccion</th>
                <th>Ciudad</th>
                <th>Codigo postal</th>
                <th>Estado</th>
                <th>Pais</th>
    
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>10/10/2022</td>
                <td>$50.925.000</td>
                <td>Aury Margarita</td>
                <td>Nuñez Campo</td>
                <td>1065591174</td>
                <td>CARRERA 19B # 13BBIS 20</td>
                <td>Valledupar</td>
                <td>200005</td>
                <td>Cesar</td>
                <td>Colombia</td>
    
            </tr>
        </tbody>
    </table>
</div>

{%endblock%} 